<div class="main">
    <div class="left-side">
        <div class="profile dashboard-box">
            <a href="">Profile</a>
            <div class="profile-photo"></div>
            <div class="profile-name">dkfjkdfj fldjkf</div>
        </div>
        <div class="bmi dashboard-box">
            <a href="">BMI</a>
        </div>
        <div class="progressess dashboard-box">
            <a href="">Progress</a>
        </div>
        <div class="help dashboard-box">
            <a href="">Help</a>
        </div>
        <div class="logout dashboard-box">
            <a href="">Logout</a>
        </div>
    </div>
    <div class="right-side"></div>
</div>