<div class="lander">
    <div class="login-signup">
        <a href="./login" class="btn btn-primary btn-lg">Login</a>
        <a href="/signup" class="btn btn-info btn-lg">Signup</a>
    </div>
</div>
