<div class="page">
    <div class="login-page">
        <div class="login-box col-xs-9 col-md-6">
            <h2 class="text-center">Sign Up</h2>
            <form action="" class=" login-form">
                <div class="form-group">
                    <label for="">Name</label>
                    <input type="text" name="Name" class="form-control input-field" placeholder="Enter Name" id="">
                </div>

                <div class="form-group">
                    <label for="">Email Address</label>
                    <input type="email" name="Email" class="form-control input-field" placeholder="Enter Email" id="">
                </div>

                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" name="Password" class="form-control input-field" placeholder="Password" id="">
                </div>
                <div class="form-buttons">
                    <a href="/login">Aldready have a account?</a>
                    <button type="submit" class="btn btn-primary float-right">SignUp</button>
                </div>
            </form>
        </div>
    </div>
</div>